Repository echoes-io/tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'npm test', bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: :recycle: Refactored the code to use `@echoes-io/models`
  README.md
  index.ts
  lib/connection.ts
  lib/database.ts
  lib/schemas/arc.ts
  lib/schemas/chapter.ts
  lib/schemas/episode.ts
  lib/schemas/index.ts
  lib/schemas/part.ts
  lib/schemas/timeline.ts
  lib/tracker.ts
  migrations/001_initial.ts
  package.json
  test/tracker.test.ts
Due: bash -c 'npm test', bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

ci: :construction_worker: Added the release CI
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: bash -c 'npm test', bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: :technologist: Added better linting upon commit
  .husky/pre-commit
  .lintstagedrc
Due: none

fix: :truck: Moved `index.ts` into `lib` folder
  README.md
  lib/index.ts
  lib/tracker.ts
  test/tracker.test.ts
Due: bash -c 'npm test', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

perf: :zap: Better migration tool and more implementation of models
  README.md
  lib/database.ts
  lib/tracker.ts
  migrations/001_initial.ts
  migrations/index.ts
Due: bash -c 'npm test', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

build: :zap: Added `lib` + `migrations` folder to clean script
  package.json
Due: bash -c 'npm test', bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: :recycle: Refactored a bit migrations and tests
  lib/migrations.ts
  lib/tracker.ts
  test/lib/connection.test.ts
  test/lib/index.test.ts
  test/lib/migrations.test.ts
  test/lib/tracker.test.ts
Due: bash -c 'npm test', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

test: :white_check_mark: More test coverage
  test/lib/migrations.test.ts
  test/lib/tracker.test.ts
Due: bash -c 'npm test', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: :memo: Shortened the readme
  README.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Notes added by 'git notes add'
  8a8a71b47032b8914c2d1978642f0e642c325cf0
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: bash -c 'npm test', bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: :truck: Moved tests into test folder, not test/lib
  .amazonq/cli-agents/default.json
  README.md
  test/connection.test.ts
  test/index.test.ts
  test/migrations.test.ts
  test/tracker.test.ts
Due: bash -c 'npm test', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

ci: :truck: `lint:fix` becomes `lint:format`
  package.json
Due: bash -c 'npm test', bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

perf: :truck: Moving from `chapter.excerpt` to `chapter.summary` and type of `chapter.date` from `Date` to `string`
  lib/database.ts
  lib/migrations.ts
  lib/tracker.ts
  migrations/002_rename_excerpt_to_summary.ts
  migrations/003_convert_date_format.ts
  package-lock.json
  package.json
  test/index.test.ts
  test/tracker.test.ts
Due: bash -c 'npm test', bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: bash -c 'npm test', bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Notes added by 'git notes add'
  249fc5bc75e20f72990ccc99a33535013bd31c06
Due: none

ci: :arrow_up: Upped `@biomejs/biome` to `2.3.0`
  biome.json
  package-lock.json
  package.json
Due: bash -c 'npm test', bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: :arrow_up: Upped `@biomejs/biome` to `2.3.2`
  biome.json
  package.json
Due: bash -c 'npm test', bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: :arrow_up: Upped `@biomejs/biome` to `2.3.2`
  package-lock.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

perf: :arrow_up: Upped deps
  package-lock.json
  package.json
Due: bash -c 'npm test', bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: bash -c 'npm test', bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Notes added by 'git notes add'
  b2f5dfadbcce51c22839f295c018463d3265ea27
Due: none

feat(kiro): migrate from Amazon Q to Kiro agent configuration
  .amazonq/cli-agents/default.json
  .kiro/agents/default.json
  .kiro/prompts/default-prompt.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: bash -c 'npm test', bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Notes added by 'git notes add'
  3b6c9e1a33119e87c23026baf5b588180cfb89db
Due: none

feat: rename agent from 'default' to 'dev' and add code tool
  .kiro/agents/dev.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: bash -c 'npm test', bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Notes added by 'git notes add'
  ca9e3276e5b5b07e9646eacdb963f260534eb77d
Due: none

Path conditions:
  bash -c 'npm test': (any of: *.{ts,tsx}) or (any of: package.json)
  bash -c 'npm run lint:lockfile': any of: package.json
  bash -c 'npm run lint:engines': any of: package.json
  bash -c 'npm run lint:publish': any of: package.json
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{ts,tsx,json,yaml,graphql,md,css,scss,html}
